$yellow: #f2ef24;
$red: #fc0303;
$green: #7FFF00;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;

}

@mixin pad($top, $right, $bottom, $left){
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;

}

.jumbotron{
	background-color: $yellow;
	color:  black; 
	@include margenes(50px, 0px);
}

.footer{
	@include pad(10px, 10px, 0px, 10px);
	background-color: #343A40;
	@include margenes(10px, 0px);
	color: white;
}

.card-fisiot{
	flex: 1 200px;
	@include margenes(10px, 0px);
}


.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;

}

.tab-content{
	padding-top: 10px;
}