.jumbotron {
  background-color: #f2ef24;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #343A40;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white;
}
.card-fisiot {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
